@model NewTask.Models.Tasktbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tasktbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proj.Project_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proj.Project_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.User_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.User_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Due_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Due_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Task_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
