@model NewTask.Models.Commenttbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commenttbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proj.Project_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proj.Project_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tasktbl.Task_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tasktbl.Task_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Comment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
